@import "../../sass/variables-import";
@import "../../sass/tools/focus.placeholder";

$header-close-button--top-value: -4.35rem;

.ontario-navigation {
    position: absolute;
    width: 100%;

    @media screen and (min-width: $medium-breakpoint) {
        position: relative;
        max-width: 72rem;
        width: auto;
        margin: 0 auto;
    }
}

.ontario-navigation .ontario-header-button {
    visibility: hidden;
    position: absolute;
    right: $spacing-4;
    z-index: 6;
}

.ontario-navigation__container {
    background: white;
    position: absolute;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out, visibility 0.1s ease;
    width: 100%;
    visibility: hidden;
    z-index: 4;

    @media screen and (min-width: $medium-breakpoint) {
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
        border-radius: 4px;
        display: none;
        position: absolute;
        right: $spacing-4;
        top: calc(100% - #{$spacing-2});
        transition: none;
        min-width: 290px;
        max-width: 30%;
        z-index: 5;
    }
}

.ontario-header + .ontario-navigation .ontario-header-button {
    top: $header-close-button--top-value;
}

.ontario-application-header
    + .ontario-application-subheader-menu__container
    .ontario-header-button {
    top: calc(-#{$spacing-9} + -#{$spacing-1});
}

.ontario-navigation.ontario-navigation--open .ontario-navigation__container {
    visibility: visible;
    transform: translateY(0);
    transition: transform 0.4s ease-in-out;

    @media screen and (min-width: $medium-breakpoint) {
        transition: none;
        display: block;
    }
}

.ontario-navigation ul {
    list-style: none;
    padding: $spacing-2 $spacing-0;
    margin: $spacing-0;
    border-bottom: 1px solid $ontario-greyscale-20;

    @media screen and (min-width: $medium-breakpoint) {
        border-bottom: none;
    }
}

.ontario-navigation li {
    border-top: 1px solid $ontario-greyscale-20;
    padding: $spacing-0;

    &:last-of-type {
        border-bottom: 1px solid $ontario-greyscale-20;
    }
}

.ontario-navigation a {
    color: $ontario-colour-black;
    display: block;
    font-size: 1.125rem;
    font-weight: 600;
    text-decoration: none;
    padding: calc(#{$spacing-3} - (#{$spacing-1} / 3.25)) $spacing-5;

    &:hover {
        text-decoration: underline;
        background-color: darken($ontario-greyscale-5, 5);
    }

    &:active {
        text-decoration: underline;
        background-color: $ontario-greyscale-20;
    }

    &:focus,
    &:active {
        @extend %ontario-focus;
        box-shadow: 0 0 0 4px $ontario-colour-focus inset;
    }

    &.ontario-link--active {
        border-left: 6px solid $ontario-colour-black;
        background-color: $ontario-greyscale-5;
    }

    @media screen and (max-width: $medium-breakpoint) {
        padding: calc(#{$spacing-3} - (#{$spacing-1} / 3.25)) $spacing-6;
    }
}

.ontario-navigation .ontario-header-button {
    background-color: $ontario-greyscale-70;

    .ontario-icon {
        width: 2rem;
        height: 2rem;
        margin-bottom: $spacing-0;
    }

    &:hover {
        background-color: $ontario-greyscale-60;
    }

    &:active {
        background-color: $ontario-colour-black;
    }
}
