@import "../../../sass/variables-import";

.ontario-header.ontario-application-header {
    height: 3.125rem;
    z-index: 5;
}

.ontario-application-header__logo,
.ontario-application-header__logo a,
.ontario-application-header__lang-toggle,
.ontario-application-subheader__container,
.ontario-application-subheader__menu-container,
.ontario-application-subheader__menu {
    display: flex;
}

.ontario-application-header__logo img {
    width: 100px;
    height: 25px;
}

.ontario-application-header__lang-toggle {
    justify-content: flex-end;

    a {
        font-size: rem-calc(16);
        line-height: rem-calc(22);
        height: auto;
        padding: $spacing-2 $spacing-3;
    }
}

.ontario-application-subheader {
    padding: calc(#{$spacing-2} + #{$spacing-3}) 0;
    background-color: darken($ontario-colour-white, 75);
    overflow: hidden;
    position: relative;
    z-index: 5;

    @media screen and (min-width: $medium-breakpoint) {
        z-index: 0;
    }

    & > .ontario-row {
        position: relative;
    }
}

.ontario-application-subheader .ontario-header-button {
    visibility: visible;
}

.ontario-application-subheader .ontario-header-button {
    background-color: $ontario-greyscale-70;

    .ontario-icon {
        width: 2rem;
        height: 2rem;
        margin-bottom: $spacing-0;
    }

    &:hover {
        background-color: $ontario-greyscale-60;
    }

    &:active {
        background-color: $ontario-colour-black;
    }
}

.ontario-application-subheader__heading {
    @extend %h4-styles;
    margin-bottom: $spacing-0;
    max-width: 65%;

    a {
        color: $ontario-colour-white;
        font-weight: 600;
        text-decoration: none;

        &:hover,
        &:active,
        &:visited {
            color: $ontario-colour-white;
            text-decoration: underline;
        }
    }
}

.ontario-application-subheader__container {
    align-items: center;
    justify-content: space-between;
}

.ontario-application-subheader__menu {
    list-style: none;
    margin: $spacing-0;
    padding-left: $spacing-0;
    align-items: center;
}

.ontario-application-subheader__menu li {
    padding: 0;
    margin-left: $spacing-4;
}

.ontario-application-subheader__menu a {
    border-radius: $global-radius;
    color: $ontario-colour-white;
    display: block;
    font-family: $ontario-font-open-sans;
    font-size: rem-calc(18);
    font-weight: 600;
    height: $standard-input-height;
    line-height: rem-calc(23);
    padding: $spacing-3;
    text-decoration: none;
    white-space: nowrap;

    &.ontario-link--active {
        border-radius: 4px 4px 0 0;
        border-bottom: 4px solid $ontario-colour-white;
    }

    &:hover {
        background-color: $ontario-greyscale-60;
    }

    &:active {
        background-color: $ontario-colour-black;
    }
}

.ontario-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    z-index: 2;
}

.ontario-navigation--open {
    .ontario-navigation .ontario-header-button {
        visibility: visible;
    }

    .ontario-application-subheader .ontario-header-button {
        visibility: hidden;
    }

    @media screen and (max-width: $medium-breakpoint) {
        .ontario-application-subheader-menu__container {
            position: relative;
            z-index: 3;
        }
    }

    .ontario-overlay {
        display: block;

        @media screen and (min-width: $medium-breakpoint) {
            display: none;
        }
    }
}
