@import "../../../sass/variables-import";
@import "../../../sass/tools/focus.placeholder";

$ontario-search-input-padding: 7.2rem;
$ontario-search-input-padding--mobile: 6.4rem;

.ontario-header {
    position: relative;
    background-color: $ontario-colour-black;
    color: $ontario-colour-white;
    display: flex;
    align-items: center;
    height: 5.75rem;

    .ontario-row {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    svg {
        width: $spacing-6;
        height: $spacing-6;
        margin-bottom: $spacing-0;
    }
}

.ontario-header__logo-container {
    height: $ontario-logo-height;
}

.ontario-header__logo-container a {
    display: inline-block;
    height: 100%;

    &:focus {
        box-shadow: 0 0 0 $global-radius $ontario-colour-focus;
    }
}

/* Header search styles */
.ontario-header__search-container {
    position: relative;
    display: none;

    @media screen and (min-width: $medium-breakpoint) {
        display: flex;
    }

    @media screen and (min-width: $small-breakpoint) {
        padding-right: calc(2rem / 2);
    }
}

.ontario-header__search-input.ontario-input {
    border-width: 0;
    margin-bottom: $spacing-0;
    height: $standard-input-height;
    padding-left: $spacing-3;
    padding-right: $ontario-search-input-padding;

    &:invalid + input[type="reset"] {
        display: none;
    }

    &:focus {
        & ~ .ontario-header__search-submit {
            background-color: $ontario-colour-link;
            color: $ontario-colour-white;

            &:hover {
                background-color: $ontario-colour-link--hover;
                color: $ontario-colour-white;
            }
        }
    }

    // Remove auto X icon for IE and Edge on input area
    &::-ms-clear {
        display: none;
        width: 0;
        height: 0;
    }

    // Remove red outline around input area on Firefox
    &:invalid:focus {
        box-shadow: 0 0 0 4px $ontario-colour-focus;
        -moz-box-shadow: none;
    }

    &:invalid:not(:focus) {
        box-shadow: none;
        -moz-box-shadow: none;
    }

    @media screen and (min-width: $small-breakpoint) and (max-width: $medium-breakpoint) {
        padding-left: $spacing-4;
        padding-right: $ontario-search-input-padding--mobile;
    }
}

.ontario-header__search-submit {
    border: 0;
    border-radius: 0 3px 3px 0;
    background-color: $ontario-greyscale-5;
    color: $ontario-colour-black;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 1.125rem;
    height: 100%;
    line-height: 1.56;

    position: absolute;
    right: $spacing-4;
    top: $spacing-0;
    cursor: pointer;

    padding-left: $spacing-3;
    padding-right: $spacing-3;

    &:hover {
        background-color: $ontario-colour-link--hover;
        color: $ontario-colour-white;
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 0 $global-radius $ontario-colour-focus;
        background-color: $ontario-colour-link--hover;
        color: $ontario-colour-white;
    }

    &:active {
        background-color: $ontario-colour-link--active;
        color: $ontario-colour-white;
    }

    svg {
        margin-right: $spacing-0;
    }
}

input[type="reset"].ontario-header__search-reset {
    position: absolute;
    display: flex;
    align-items: center;
    top: 11px;
    right: 80px;
    height: 28px;
    width: 28px;
    color: black;
    margin: $spacing-0;
    padding: $spacing-2;

    background-image: url(../icons/ontario-icons-close.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;

    &:focus {
        box-shadow: 0 0 0 $global-radius $ontario-colour-focus;
    }
}

/* Header menu & language toggle & close search button styles */
.ontario-header__nav-right-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/* Header buttons */
.ontario-header-button {
    background-color: $ontario-colour-black;
    border: none;
    border-radius: $global-radius;
    box-sizing: border-box;
    box-shadow: none;
    color: $ontario-colour-white;
    cursor: pointer;

    display: flex;
    align-items: center;

    font-size: 1.125rem;
    font-weight: 600;
    font-family: $ontario-font-open-sans;
    height: $standard-input-height;
    line-height: calc(14 / 9);
    text-align: center;
    text-decoration: none;

    &:focus {
        @extend %ontario-focus;
    }

    &:hover,
    &:focus,
    &:visited {
        color: $ontario-colour-white;
    }
}

.ontario-header-button--with-outline,
.ontario-header-button--without-outline {
    background-color: $ontario-colour-black;
    color: $ontario-colour-white;

    &:hover {
        background-color: $ontario-greyscale-70;
    }

    &:active {
        background-color: $ontario-greyscale-60;
    }
    &:focus {
        background-color: $ontario-greyscale-70;
    }
}

.ontario-header-button--with-outline {
    border: 2px solid $ontario-colour-white;
    margin: $spacing-0 $spacing-0 $spacing-0 $spacing-4;
    padding: calc(#{$spacing-3} / 2) $spacing-4;

    &:hover {
        border: 2px solid $ontario-colour-white;
        color: $ontario-colour-white;
    }

    &:focus {
        background-color: $ontario-greyscale-70;
    }
}

.ontario-header-button--without-outline {
    &:focus {
        background-color: $ontario-greyscale-70;
    }
}

.ontario-header__language-toggler {
    padding: $spacing-3;

    abbr[title] {
        text-decoration: none;
    }
}
